@import "../../scss/helper/mixin";

//GalleryItemPopup

.GalleryItemPopup {
}

.GalleryItemPopup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  .popup-screen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: -1;
  }
  .ly-inner {
    z-index: 100;
    width: 1200px;
    height: 300px;
    background: #fff;
    padding: 15px 17px;
  }
  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .pop-desc {

    }
    .pop-info {
      display: flex;
    }
  }
}